repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
      types:
        - "python"
    - id: trailing-whitespace
      types:
        - "python"
- repo: https://github.com/psf/black
  rev: 25.11.0
  hooks:
    - id: black
      exclude: |
          (?x)^(
                static|
                templates
            )$
      args:
        - "-l"
        - "120"
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.6
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format
