#chartContainer {
    height: 100%;

    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 1fr 7fr 1fr;
}

#chartContainer .header {
    height: 100%;
    background-color: var(--main-color-light);

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#chartContainer .canvas {
    position: relative;
    width: 100%;
    height: 100%;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}

#chartContainer .footer {
    height: 100%;
    background-color: var(--main-color-light);

    align-items: normal;
    justify-content: normal;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;
    row-gap: 1vh;
    column-gap: 0.6vw;
    grid-template-columns: min-content min-content min-content auto min-content;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "tl1 tl2 tl3 . tr"
        "bl1 bl2 bl3 . br";

    padding-bottom: 1vh;
}

#chartContainer .footer button {
    grid-area: br;
}

#chartContainer .footer label {
    display: flex;
    align-items: center;
}