.bank {
    font-size: 2vh;
}

.lamda {
    font-size: 8vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.afr {
    font-size: 3.5vh;
}

.tempLabel {
    font-size: 2vh;
}

.temp {
    font-size: 8vh;
    margin-top: 20px;
    margin-bottom: 20px;
}