:root {
  --main-color: rgb(139, 134, 134);
  --main-color-light: rgb(156, 151, 151);
  --main-color-dark: rgb(110, 108, 108);
  --main-color-text: black;
}

html,
body {
  height: 100%;
  background-color: var(--main-color);
}

input {
  background-color: var(--main-color);
}

.mybackround {
  background-image: url("../images/maybach.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 10%;
}

.mybackround.hidden {
  background-image: none;
}

.w3-modal-content {
  background-color: var(--main-color-light);
  height: 80%;
}

.modalHeaderFooter {
  background-color: var(--main-color-dark);
  color: white;
  height: 80%;
  height: fit-content;
}

.modalBody {
  overflow-y: auto;
  height: inherit
}

.base-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 90% 5%;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
}

.header {
  grid-area: header;
  height: 100%;
  color: var(--main-color-text);
  background-color: var(--main-color-dark);

  font-size: 3vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "header_left header_right";
}

.header-left {
  grid-area: header_left;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-right {
  grid-area: header_right;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-body {
  grid-area: main;
  background-color: var(--main-color-light);
  height: 100%;
}

.footer {
  grid-area: footer;
  background-color: var(--main-color-dark);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .mybackround {
    background-image: url("../images/maybach.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
  }

  .mybackround.hidden {
    background-image: none;
  }

  .bank {
    font-size: 2vw;
  }

  .lamda {
    font-size: 8vw;
  }

  .afr {
    font-size: 3.5vw;
  }
}

/* ========= Switch oben links ========= */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #21f33d;
}

input:focus+.slider {
  box-shadow: 0 0 1px #21f33d;
}

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* =========================== */