html,
body {
    height: 100%;
    background-color: rgb(139, 134, 134);
}

body {
    background-image: url("../images/maybach2.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 10%;
}

.bank {
    font-size: 2vh;
}

.lamda {
    font-size: 8vh;
}

.volt {
    font-size: 3.5vh;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    body {
        background-position: center;
    }

    .bank {
        font-size: 2vw;
    }
    
    .lamda {
        font-size: 8vw;
    }
    
    .volt {
        font-size: 3.5vw;
    }
}

/* ========= Switch oben links ========= */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #21f33d;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #21f33d;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* =========================== */