# Contents of /etc/systemd/system/lamda.service
[Unit]
Description=Service for Lamda-Web
After=network.target

[Service]
User=root
Type=simple
Restart=always
WorkingDirectory=/home/pi/lamdaProjekt
Environment="PATH=/home/pi/lamdaProjekt/venv/bin"
ExecStart=/home/pi/lamdaProjekt/.venv/bin/gunicorn -c deployment/gunicorn.conf.py mama.app:app

[Install]
WantedBy=multi-user.target