<div class="w3-cell-row w3-display-container" style="height: 50%;">

    <!-- Linke Seite / Bank 1 -->
    <div id="bank1" class="w3-cell w3-container w3-cell-middle w3-center w3-mobile">
        <p id="bank1Label" class="bank">Bank 1 &#128993;</p>
        <p id="lamda1" class="lamda">9,999 &lambda;</p>
        <p id="afr1" class="afr">9,999 AFR</p>
    </div>

    <!-- Rechte Seite / Bank 2 -->
    <div id="bank2" class="w3-cell w3-container w3-cell-middle w3-center w3-mobile">
        <p id="bank2Label" class="bank">Bank 2 &#128308;</p>
        <p id="lamda2" class="lamda">9,999 &lambda;</p>
        <p id="afr2" class="afr">9,999 AFR</p>
    </div>
    <img src="../static/images/Legende.png" alt="Legende" class="w3-display-bottomright" height="25%"
        style="padding-bottom: 20px; padding-right: 20px;">

</div>