{% extends "base.jinja" %}

{% block title %}Lamdawerte{% endblock title %}

{% block pageNavbar %}
<div class="w3-bar-item">
    Aufnahme:
    <label class="switch">
        <input id="recording" type="checkbox">
        <span class="slider round"></span>
    </label>
</div>

<i id="menueIcon" class="w3-bar-item w3-button w3-right fa fa-gears" style="font-size:24px" onclick="openMenue()"></i>
<a href="/history" class="w3-bar-item w3-button w3-right fa fa-history" style="font-size:24px"></a>

{{ super() }}
{% endblock pageNavbar %}

{% block main %}
{% include "baenke.jinja" %}

{% include "temperaturen.jinja" %}

<!-- Config Modal -->
{% include "config_modal.jinja" %}

{% endblock %}


{% block javaScript %}
{{ super() }}
<script src="../static/javascript/socket.io.min.js"></script>
<script src="../static/javascript/mySockets.js"></script>
{% endblock javaScript %}

{% block pageJavaScript %}
<script type="text/javascript" charset="utf-8">

    const UPDATE_INTERVALL = {{ update_intervall }};
    const menueModal = $("#menueModal");

    $(document).ready(function () {
        $("#recording").click(toogleRecording);

        // Anwenden der Konfiguration
        show_values(
            {{ ANZEIGEN_BANK_1 | default("true") | lower}},
        {{ ANZEIGEN_BANK_2 | default("true") | lower}},
        {{ ANZEIGEN_TEMP_1 | default("true") | lower}},
        {{ ANZEIGEN_TEMP_2 | default("true") | lower}}
    );
    blinking = {{ WARNUNG_BLINKEN | default ("false") | lower }};
    decimalPlaces = {{ NACHKOMMASTELLEN | default ("2") }};
    });


    function toogleRecording() {
        if ($("#recording").prop("checked")) {

            // Hide Button wenn aufgenommen wird
            $('#menueIcon').hide("slow");

            socket.emit("recording", {
                "recording": true
            });
        } else {
            // Show Button wenn aufgenommen stoppt
            $('#menueIcon').show("slow");

            socket.emit("recording", {
                "recording": false
            });
        }
    }

    function show_values(bank1, bank2, temp1, temp2) {
        show_banks(bank1, bank2);
        show_temp(temp1, temp2);

        // Sklaierung der Anzeigen anpassen, wenn ein Wert nicht angezeigt wird
        if (bank1 || bank2) {
            $("#tempContainer").height("50%");
        }
        else {
            $("#tempContainer").height("100%");
        }

        if (temp1 || temp2) {
            $("#bankContainer").height("50%");
        }
        else {
            $("#bankContainer").height("100%");
        }

        // Hintergrundbild anpassen
        // Wenn nur eine Bank oder eine Temperatur angezeigt wird, dann Hintergrundbild nicht anzeigen
        if ($("#tempContainer").is(":hidden") && (bank1 ^ bank2) || $("#bankContainer").is(":hidden") && (temp1 ^ temp2)) {
            $('.mybackround').addClass('hidden');
        }
        else {
            $('.mybackround').removeClass('hidden');
        }
    }

    function show_banks(bank1, bank2) {

        if (!bank1 && !bank2) {
            $("#bankContainer").hide();
            return;
        }
        else {
            $("#bankContainer").show();
        }

        if (bank1) {
            $("#bank1").show();
        } else {
            $("#bank1").hide();
        }

        if (bank2) {
            $("#bank2").show();
        } else {
            $("#bank2").hide();
        }
    }

    function show_temp(temp1, temp2) {

        if (!temp1 && !temp2) {
            $("#tempContainer").hide();
            return;
        }
        else {
            $("#tempContainer").show();
        }

        if (temp1) {
            $("#temp1Container").show();
        } else {
            $("#temp1Container").hide();
        }

        if (temp2) {
            $("#temp2Container").show();
        } else {
            $("#temp2Container").hide();
        }
    }

</script>
{% endblock pageJavaScript %}