<div id="infoModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">

        <div class="w3-center w3-border-bottom modalHeaderFooter"><br>
            <span onclick="document.getElementById('menueModal').style.display='none'"
                class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close">&times;</span>
            <h3><b>Achtung!</b></h3>
        </div>

        <div class="w3-container w3-padding-16 w3-text-amber modalBody">
            <h4>Achtung:</h4>
            <p id="infoModalInfoText"></p>
        </div>

        <div class="w3-container w3-padding-16 w3-border-top modalHeaderFooter">
            <button type="button" class="w3-button w3-round-large w3-border w3-right w3-red"
                onclick="document.getElementById('infoModal').style.display='none'">Schließen</button>
        </div>
    </div>
</div>
