<div id="tempContainer" class="w3-cell-row w3-display-container" style="height: 50%;">

    <!-- Linke Seite / Temp 1 -->
    <div id="temp1Container" class="w3-cell w3-container w3-cell-middle w3-center w3-mobile">
        <p id="temp1Label" class="tempLabel">Temperatur 1 &#128993;</p>
        <p id="temp1" class="temp">1000 &#8451</p>
    </div>

    <!-- Rechte Seite / Temp 2 -->
    <div id="temp2Container" class="w3-cell w3-container w3-cell-middle w3-center w3-mobile">
        <p id="temp2Label" class="tempLabel">Temperatur 2 &#128308;</p>
        <p id="temp2" class="temp">1000 &#8451</p>
    </div>
</div>